<div class="header">
    <div class="container">
        <div class="title">Hi Security Lab</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/events">Events</a></li>
            <li><a href="/reports/1">Reports</a></li>
            <li><a href="/reports/2">Vulnerabilities</a></li>
        </ul>
    </div>
</div>
<div class="main">
    <div id="event-section1" class="section">
        <div class="wrape"></div>
        <table class="event-globe-desc">
            <tbody>
            <tr>
                <td>
                    <p>
                        <span class="event-globe-desc-num"></span><span>M</span>
                    </p>
                    <p>
                        <span class="event-globe-desc-txt">Users</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span class="event-globe-desc-num"></span><span>M</span>
                    </p>
                    <p>
                        <span class="event-globe-desc-txt">Applications Scanned</span>
                    </p>
                </td>
                <td>
                    <p>
                        <span class="event-globe-desc-num"></span><span>M</span>
                    </p>
                    <p>
                        <span class="event-globe-desc-txt">Threats</span>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="event-section2" class="section">
        <div class="container">
            <div class="wrape"></div>
        </div>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div>
            <p><img src="${b1logo}" alt="" style="width:56px;height:56px;vertical-align: middle;">
            </p>
            <h3>Hi Security Lab</h3>
        </div>
        <hr/>
        <div>
            <p><a href="/">HOME</a></p>
            <p><a href="/events">GLOBAL SECURITY EVENTS</a></p>
            <p><a href="/reports/1">MALWARE ANALYSIS REPORTS</a></p>
            <p><a href="/reports/2">VULNERABILITY ANALYSIS REPORTS</a></p>
        </div>
        <hr/>
        <div>
            <p>Copyright &copy; 2017 Hi Security Lab</p>
            <p>All rights reserved</p>
        </div>
    </div>
</div>