<div class="header">
    <div class="container">
        <div class="title">Hi Security Lab</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/reports/1">Reports</a></li>
            <li><a href="/reports/2">Vulnerabilities</a></li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="container"></div>
</div>
<div id="footer">
    <div class="container">
        <div>
            <p><img src="${b1logo}" alt="" style="width:56px;height:56px;vertical-align: middle;">
            </p>
            <h3>Hi Security Lab</h3>
        </div>
        <hr/>
        <div>
            <p><a href="/">HOME</a></p>
            <p><a href="/events">GLOBAL SECURITY EVENTS</a></p>
            <p><a href="/reports/1">MALWARE ANALYSIS REPORTS</a></p>
            <p><a href="/reports/2">VULNERABILITY ANALYSIS REPORTS</a></p>
        </div>
        <hr/>
        <div>
            <p>Copyright &copy; 2017 Hi Security Lab</p>
            <p>All rights reserved</p>
        </div>
    </div>
</div>